<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Empleados</span>
      <button class="btn btn-dark btn-lg float-end" routerLink="/create-empleado">Agregar</button>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>2525252525</td>
            <td>2500</td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-lg text-info"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger ms-2"></i>
            </td>
          </tr>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>2525252525</td>
            <td>2500</td>
            <td><i class="fa-solid fa-pen-to-square fa-lg text-info"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger ms-2"></i></td>
          </tr>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>2525252525</td>
            <td>2500</td>
            <td><i class="fa-solid fa-pen-to-square fa-lg text-info"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger ms-2"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
